<div id="scene">
    <header id="instruction">
        <h3>Instructions:</h3>
        <p>Click 'C' to clean. Equal button will start evaluation.</p>
    </header>
    <div id="calculator">
        <div class="top">
            <div class="screen"></div>
        </div>
        <div class="keys">
            <span>7</span>
            <span>8</span>
            <span>9</span>

            <span>4</span>
            <span>5</span>
            <span>6</span>

            <span>1</span>
            <span>2</span>
            <span>3</span>

            <span>0</span>
            <span class="clear">C</span>
            <span class="eval">=</span>
        </div>
    </div>
    <div id="resultSection">
        <article>
            <section>
                <span>Fibonacci Series: </span>
                <div id="FibonacciSeries"></div>
            </section>
            <section>
                <span>Full Series:</span>
                <div id="FullSeries"></div>
            </section>
            <section>
                <span>Evens:</span>
                <div id="evens"></div>
            </section>
            <section>
                <span>Odds:</span>
                <div id="odds"></div>
            </section>
            <section>
                <span>C (multiple of 3):</span>
                <div id="c"></div>
            </section>
            <section>
                <span>E (multiple of 5):</span>
                <div id="e"></div>
            </section>
            <section>
                <span>Z (multiple of both 3 and 5):</span>
                <div id="z"></div>
            </section>
        </article>
    </div>
</div>

<!-- PrefixFree -->
<script src="http://thecodeplayer.com/uploads/js/prefixfree-1.0.7.js" type="text/javascript" type="text/javascript"></script>